@font-face {
    font-family: "shuremono";
    src: url(./font/Shure\ Tech\ Mono\ Nerd\ Font\ Complete.ttf);
}

html {
    --cafe: #3e2723;
    --amarillo: #fff59d;
    --verde: #c5e1a5;
    --celeste: #90caf9;
    --rosa: #f48fb1;
    --naranja: #ff8a65;
}

* {
    font-family: "shuremono";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cafe);
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

    width: 400px;
    height: 100px;
    background-color: var(--amarillo);
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2.5px solid black;
}

.controllBox{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 120px;
    height: 120px;
    display: inline-flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.2s linear,border 0.2s linear,filter 0.2s linear;
}

.btn:hover{
    cursor:pointer;
    transform: scale(1.2);
    border: 4px solid black;
    filter: saturate(2);
}

.rock{
    background-color: var(--celeste);
}

.paper{
    background-color: var(--rosa);
}

.scissors{
    background-color: var(--verde);
}

.click {
    background-color: gold;
}

.btnCover{
    width: 50%;
}

.label{
    font-size: 20px;
}


