@font-face {
    font-family: "shuremono";
    src: url(./font/Shure\ Tech\ Mono\ Nerd\ Font\ Complete.ttf);
}

html {
    --cafe: #3e2723;
    --amarillo: #fff59d;
    --verde: #c5e1a5;
    --celeste: #90caf9;
    --rosa: #f48fb1;
    --naranja: #ff8a65;
}

* {
    font-family: "shuremono";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cafe);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #1b0000;
    display: flex;
    justify-content: flex-end;
}

.footerBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .github {
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-50%);
}

footer .flaticon {
    font-size: 15px;
    margin-right: 20px;
}

footer a:hover {
    color: gold;
}

.subTitle {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
/* Display */
/* ------------------------------------------------------------------------------------------ */
.display {
    width: 400px;
    height: 150px;
    background-color: var(--amarillo);
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicatorBox {
    font-size: 0px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 3px;
}

.indicatorIcon {
    width: 10px;
}

.instruction {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction .reset {
    font-size: 20px;
}

.instruction .reset .dot {
    display: inline-block;
    font-size: 20px;
}

.instruction .reset .dot.n1 {
    animation: up-and-down 0.75s linear 0s infinite alternate;
}

.instruction .reset .dot.n2 {
    animation: up-and-down 0.75s linear 0.33s infinite alternate;
}

.instruction .reset .dot.n3 {
    animation: up-and-down 0.75s linear 0.66s infinite alternate;
}

@keyframes up-and-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-4px);
    }
}

.resultBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultBox .panel {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.resultBox .player {
    font-size: 20px;
    font-weight: bold;
}

.resultBox .vs {
    font-size: 30px;
    font-weight: bold;
}

.resultBox .playerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultBox .choice {
    width: 35px;
}
.resultBox .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultBox .container * {
    font-size: 20px;
}

.resultBox .win {
    color: #006400;
}

.resultBox .lose {
    color: #5b0000;
}

.resultBox .number {
    font-size: 30px;
}

.resultBox .panel.v2 {
    width: 75%;
}

.resultBox .container.v2 {
    height: 100%;
}

.resultBox .buttonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------ */

/* Botones */
/* ------------------------------------------------------------------------------------------ */
.controlBox {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 120px;
    height: 120px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.2s linear, border 0.2s linear, filter 0.2s linear;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    border: 2.5px solid black;
    filter: saturate(2.5);
}

.rock {
    background-color: var(--celeste);
}

.paper {
    background-color: var(--rosa);
}

.scissors {
    background-color: var(--verde);
}

.btnCover {
    width: 50%;
}

.label {
    font-size: 20px;
}

.btn2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--naranja);
    background-image: url(./img/restart.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    transition: transform 0.2s linear, border 0.2s linear, filter 0.2s linear;
}

.btn2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.click {
    background-color: gold;
}

/* ------------------------------------------------------------------------------------------ */
